body {
    background-color:#eeeeee;
}
hr {
    background-color:#eeeeee;
    border-style:none;
    border-top-style: dotted;
    height:0px;
    border-color:grey;
    border-width: 5px;
    width:5%;
}
h1{
    color:#00adb5;
}
h3{
    color:#00adb5;
}